[Unit]
Description=DHCPClient

[Service]
ExecStart=/sbin/dhcpcd -B -4 --noarp 
ExecStop=killall dhcpcd
User=root
Group=root
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target

